[submodule "crates/injected/imgui"]
	path = crates/injected/imgui
	url = https://github.com/ocornut/imgui
	
[submodule "crates/injected/inih"]
	path = crates/injected/inih
	url = https://github.com/Blandinium/inih