[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/toml11"]
	path = src/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "src/sol2"]
	path = src/sol2
	url = https://github.com/spelunky-fyi/sol2
[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/libnyquist"]
	path = src/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
[submodule "src/Detours"]
	path = src/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "src/sockpp"]
	path = src/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "docs/slate"]
	path = docs/slate
	url = https://github.com/spelunky-fyi/slate
[submodule "src/neo"]
	path = src/neo
	url = https://github.com/vector-of-bool/neo-fun.git
