[submodule "imgui"]
	path = src/injected/imgui
	url = https://github.com/ocornut/imgui
	
[submodule "toml11"]
	path = src/injected/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "src/injected/imgui"]
	path = src/injected/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/injected/toml11"]
	path = src/injected/toml11
	url = https://github.com/ToruNiina/toml11
