// Install codelldb in VSCode, select the Spelunky + Overlunky configuration in the Run tab and press F5.
// Directly runs the game and overlunky with lldb attached to the game, so breakpoints in the dll work (both the rust and the cpp code).
{
    "version": "0.1.0",
    "configurations": [
        {
            "type": "lldb",
            "request": "launch",
            "name": "Overlunky (Debug)",
            "cargo": {
                "args": [
                    "build"
                ],
                "filter": {
                    "name": "main",
                    "kind": "bin",
                }
            },
            "args": [],
            "cwd": "${workspaceFolder}",
            "env": { "RUST_LOG": "debug" }
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Overlunky (Release)",
            "cargo": {
                "args": [
                    "build",
                    "--release"
                ],
                "filter": {
                    "name": "main",
                    "kind": "bin"
                }
            },
            "args": [],
            "cwd": "${workspaceFolder}",
            "env": { "RUST_LOG": "debug" }
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Spelunky 2",
            "program": "C:/Program Files (x86)/Steam/SteamApps/common/Spelunky 2/Spel2.exe",
            "cwd": "C:/Program Files (x86)/Steam/SteamApps/common/Spelunky 2",
            "env": { "RUST_LOG": "debug" }
        }
    ],
    "compounds": [
        {
            "name": "Spelunky 2 + Overlunky (Debug)",
            "configurations": ["Spelunky 2", "Overlunky (Debug)"]
        },
        {
            "name": "Spelunky 2 + Overlunky (Release)",
            "configurations": ["Spelunky 2", "Overlunky (Release)"]
        }
    ]
}
