// Install codelldb in VSCode, select the Spelunky + Overlunky configuration in the Run tab and press F5.
// Directly runs the game and overlunky with lldb attached to the game, so breakpoints in the dll work (both the rust and the cpp code).
{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "lldb",
            "request": "launch",
            "name": "Overlunky (Release)",
            "program": "${workspaceRoot}/build/bin/Release/injector.exe",
            "cwd": "${workspaceRoot}/build/bin/Release/",
            "preLaunchTask": "Build Release",
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Overlunky (Debug)",
            "program": "${workspaceRoot}/build/bin/Debug/injector.exe",
            "cwd": "${workspaceRoot}/build/bin/Debug/",
            "env": {
                "OL_DEBUG": "1"
            },
            "preLaunchTask": "Build Debug",
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Overlunky (RelWithDebInfo)",
            "program": "${workspaceRoot}/build/bin/RelWithDebInfo/injector.exe",
            "cwd": "${workspaceRoot}/build/bin/RelWithDebInfo/",
            "env": {
                "OL_DEBUG": "1"
            },
            "preLaunchTask": "Build RelWithDebInfo",
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Spelunky 2",
            "program": "D:/Games/Spelunky 2/Spel2.exe",
            "cwd": "D:/Games/Spelunky 2",
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Spelunky 2 (Debug)",
            "program": "D:/Games/Spelunky 2/Spel2.exe",
            "cwd": "D:/Games/Spelunky 2",
            "env": {
                "OL_DEBUG": "1"
            },
        },
    ],
    "compounds": [
        {
            "name": "Spelunky 2 + Overlunky (Release)",
            "configurations": ["Spelunky 2", "Overlunky (Release)"]
        },
        {
            "name": "Spelunky 2 (Debug) + Overlunky (Debug)",
            "configurations": ["Spelunky 2 (Debug)", "Overlunky (Debug)"]
        },
        {
            "name": "Spelunky 2 (Debug) + Overlunky (RelWithDebInfo)",
            "configurations": ["Spelunky 2 (Debug)", "Overlunky (RelWithDebInfo)"]
        }
    ]
}
