{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build Release",
            "type": "shell",
            "options": {
                "cwd": "${workspaceRoot}"
            },
            "command": "mkdir -Force build; cd build; cmake ..; cmake --build . --config Release --target ALL_BUILD -- /maxcpucount:14",
        },
        {
            "label": "Build Debug",
            "type": "shell",
            "options": {
                "cwd": "${workspaceRoot}"
            },
            "command": "mkdir -Force build; cd build; cmake ..; cmake --build . --config Debug --target ALL_BUILD -- /maxcpucount:14",
        },
        {
            "label": "Build RelWithDebInfo",
            "type": "shell",
            "options": {
                "cwd": "${workspaceRoot}"
            },
            "command": "mkdir -Force build; cd build; cmake ..; cmake --build . --config RelWithDebInfo --target ALL_BUILD -- /maxcpucount:14",
        },
    ]
}
