name: Docs validator

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3  
      - uses: actions/setup-python@v2  
      - name: Checking if all the types are documented in the API doc
        run: python docs/validator.py
